@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-900 font-body px-5 text-white;
  }
}

@layer components {
  .page-container {
    max-width: 1280px;
    @apply mx-auto;
  }
  .movies-list .swiper-slide {
    width: 300px;
  }
  .banner .swiper {
    height: 100%;
  }
}
//paging
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 6px;
  a {
    padding: 8px;
  }
  .selected {
    @apply text-primary;
  }
}
